
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    background: rgb(235,116,11);
background: linear-gradient(0deg, rgba(235,116,11,1) 25%, rgba(245,236,0,1) 100%);
    
    
    }

.textoybanner{
    text-align: center;
}

.articulo h1{
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
}

.texto{
    font-family:cursive;
    font-weight: 300;
    
}

.nivelprimario{
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    text-align: center;

}

.textoprimario{
    font-family: cursive;
    font-weight: 300;
    text-align: center;
    padding-left: 100px;
}

